<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
    <h1>Create a Product</h1>
    <a href="/products">Back to List</a>
    <th:block th:if="${mess}">
        <span th:text="${mess}"></span>
    </th:block>
    <form th:action="@{/create-product}" th:object="${product}" th:method="post">
        <table>
            <tr>
                <td>Code:               </td>
                <td><input type="text" th:field="${product.code}"></td>
                <td th:if="${#fields.hasErrors('code')}" th:errors="*{code}">Name Error</td>
            </tr>
            <tr>
                <td>Name:               </td>
                <td><input type="text" th:field="${product.name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
            </tr>
            <tr>
                <td>Price:              </td>
                <td><input type="text" th:field="${product.price}"></td>
                <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Name Error</td>
            </tr>
            <tr>
                <td>Quantity:          </td>
                <td><input type="text" th:field="${product.quantity}"></td>
                <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Name Error</td>
            </tr>
            <tr>
                <td>Description:       </td>
                <td><input type="text" th:field="${product.description}"></td>
                <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</td>
            </tr>
            <tr>
                <td>Discount:           </td>
                <td><input type="text" th:field="${product.discount}"></td>
                <td th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}">Name Error</td>
            </tr>
            <tr>
                <td>Color:              </td>
                <td><input type="text" th:field="${product.color}"></td>
                <td th:if="${#fields.hasErrors('color')}" th:errors="*{color}">Name Error</td>
            </tr>
            <tr>
                <td>Status:             </td>
                <td><input type="text" th:field="${product.status}"></td>
                <td th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Name Error</td>
            </tr>
            <tr>
                <td>Distributor:        </td>
                <td><input type="text" th:field="${product.distributor}"></td>
                <td th:if="${#fields.hasErrors('distributor')}" th:errors="*{distributor}">Name Error</td>
            </tr>
            <tr>
                <td>Category:           </td>
                <td>
                    <select th:field="${product.category}">
                        <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" th:value="Create"></td>
            </tr>
        </table>
    </form>
</body>
</html>