<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Delete Product</title>
</head>
<body>
<h1>Delete this Product</h1>
<a href="/products">Back to List</a>
<form th:action="@{/delete-product}" th:object="${product}" th:method="post">
    <table class="table">
        <tr>
            <td></td>
            <td><input type="hidden" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Code:               </td>
            <td><input type="text" th:field="${product.code}" disabled></td>
        </tr>
        <tr>
            <td>Name:               </td>
            <td><input type="text" th:field="${product.name}" disabled></td>
        </tr>
        <tr>
            <td>Price:              </td>
            <td><input type="text" th:field="${product.price}" disabled></td>
        </tr>
        <tr>
            <td>Quantity:          </td>
            <td><input type="text" th:field="${product.quantity}" disabled></td>
        </tr>
        <tr>
            <td>Description:       </td>
            <td><input type="text" th:field="${product.description}" disabled></td>
        </tr>
        <tr>
            <td>Discount:           </td>
            <td><input type="text" th:field="${product.discount}" disabled></td>
        </tr>
        <tr>
            <td>Color:              </td>
            <td><input type="text" th:field="${product.color}" disabled></td>
        </tr>
        <tr>
            <td>Status:             </td>
            <td><input type="text" th:field="${product.status}" disabled></td>
        </tr>
        <tr>
            <td>Distributor:        </td>
            <td><input type="text" th:field="${product.distributor}" disabled></td>
        </tr>
        <tr>
            <td>Category:           </td>
            <td>
                <select th:field="${product.category}" disabled>
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="Delete"></td>
        </tr>
    </table>
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>