#header{
    background: blue;
    height: 40px;
    width: 100%;
    clear: both;
}

#main{
    background: beige;
    height: 1000px;
    width: 75%;
    float: left;
}

#subbar{
    background: aquamarine;
    height: 1000px;
    width: 25%;
    float: left;
}